<!DOCTYPE html>
<html>
<head>
	<title>Back to basics, a small login page.</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
	<div class="container">
		<div class="container">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="/">Home</a></li>
				</ul>
			</nav>

			<div class="jumbotron">
				<h2>Enter category:</h2>
				<form class="form-origin" method="post" action="find_outdated_page">
					<input type="text" name="category">
					<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Get Most Outdated Page</button>
				</form>
                <form class="form-origin" method="post" action="query">
					<textarea name="query" id="query" class="form-control" placeholder="Type post here">Enter Sq Query </textarea>
                    <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				</form>

				<h1>SQL Results</h1>
				<ul class = "list-group">
				{% for post in posts %}
					<div>
						<li class = "list-group-item">{{post}}</li>
					</div>

				{% endfor %}
				</ul>
			</div>



			</div>
		</div>
	</div>

</body>
</html>
